
<section class='blog-index'>
  <svg class="tabby-top" width="297px" height="54px" viewBox="0 0 297 54">
    <g class="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-652.000000, 0)">
      <path d="M951.740011,55.4838378 C927.210375,55.4838378 903.348381,47.4978255 883.7593,32.7316588 C825.859034,-10.9105529 784.723305,-10.9105529 726.823039,32.7316588 C707.233319,47.4978255 683.370687,55.4838378 658.842328,55.4838378 L0.935173132,55.4838378 L0.935173132,1428 L658.842328,1428 C683.370687,1428 707.233319,1420.01335 726.823039,1405.24782 C784.723305,1361.60561 825.859034,1361.60561 883.758661,1405.24782 C903.348381,1420.01335 927.210375,1428 951.740011,1428 L1610.93517,1428 L1610.93517,55.4838378 L951.740011,55.4838378 Z"></path>
    </g>
  </svg>
  <div class='tab-image'>
    <img src='{{ site.baseurl }}/assets/images/ian/blog-portfolio.svg' alt='' class=''>
  </div>
  <div class='container-wide'>
    {% if page.title == "Blog" %}
      <h1 class='blog-title'>{{ page.title }}</h1>
    {% else %}
      <h2 class='blog-title'>Featured Blogs &amp; Recent Work</h2>
    {% endif %}
    <h3 class='filter-title'>Filters</h3>
    <div class='filters'>
      {% for category in site.categories %}
        <div class='filter' data-filter="{{ category[0] | slugify }}">{{ category[0] }}</div>
        <!-- {% if forloop.index < 6 %}
        {% endif %} -->
      {% endfor %}
      <div class='mob-margin filter'></div>
    </div>
    <div class='post-flex' data-page='{{ paginator.page }}' data-total-pages='{{ paginator.total_pages }}'>
      {% if page.title == "Blog" %}
        {% for post in paginator.posts %}
          {% include post-cards.html %}
        {% endfor %}
        <div class='post-card skeleton'>
          <div class='left'></div>
          <div class='right'></div>
        </div>
        <div class='post-card skeleton second'>
          <div class='left'></div>
          <div class='right'></div>
        </div>
        <div class='post-card skeleton third'>
          <div class='left'></div>
          <div class='right'></div>
        </div>
      {% else %}
        {% for post in site.tags.Featured %}
          {% include post-cards.html %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>