<nav class="navbar">
	<a href="https://monjibram.com" class="navbar-site-emblem">
		<i class="fa fa-behance-square fa-lg"></i>nji
	</a>
<!-- If PC/Large Resolution -->
  <div class="big-nav">
    <div class="nav-links"><a href="/about.html">About</a></div>
    <div class="nav-links"><a href="/portfolio.html">Portfolio</a></div>
    <div class="nav-links"><a href="/photos.html">Photography</a></div>
    <div class="nav-links"><a href="#">Contact</a></div>
  </div>
  
<!-- If Mobile/Tablet -->
  <div class="dropdown">
		<div class="fa fa-align-justify fa-lg dropdown-nav"></div>
		<ul class="dropdown-items">
        <li class="drop-btn"><a href="/about.html">About</a></li>
        <li class="drop-btn"><a href="/portfolio.html">Portfolio</a></li>
        <li class="drop-btn"><a href="/photos.html">Photography</a></li>
        <li class="drop-btn"><a href="#">Contact</a></li>
		</ul>
  </div>  
</nav>