<nav class="navbar">
	<a href="https://monjibram.com" target="_blank" class="navbar-site-emblem">
		<i class="fa fa-behance-square fa-lg"></i>nji
	</a>
	<div class="dropdown">
		<div class="fa fa-bars fa-lg dropdown-nav"></div>
		<ul class="dropdown-items">
        <li class="drop-btn"><a href="#profile">Profile</a></li>
        <li class="drop-btn"><a href="#portfolio">Portfolio</a></li>
        <li class="drop-btn"><a href="#contact">Contact Me</a></li>
        <li class="drop-btn"><a href="#connect">Connect</a></li>
		</ul>
  </div>  
</nav>