<nav class="navbar" id="top">
	<a href="/index.html" class="navbar-site-emblem">
		<i class="fa fa-behance-square fa-lg"></i>nji
	</a>
<!-- If PC/Large Resolution -->
  <div class="big-nav">
    <div class="nav-links"><a href="/">         Home</a></div>
    <div class="nav-links"><a href="/about">    About</a></div>
    <div class="nav-links"><a href="/portfolio">Portfolio</a></div>
    <div class="nav-links"><a href="/photos">   Photography</a></div>
    <div class="nav-links"><a href="/resume">   Resume</a></div>
  </div>

<!-- If Mobile/Tablet -->
  <div class="dropdown">
		<div class="fa fa-align-justify fa-lg dropdown-nav"></div>
		<ul class="dropdown-items">
        <li class="drop-btn"><a href="/index">    Home</a></li>
        <li class="drop-btn"><a href="/about">    About</a></li>
        <li class="drop-btn"><a href="/portfolio">Portfolio</a></li>
        <li class="drop-btn"><a href="/photos">   Photography</a></li>
        <!-- <li class="drop-btn"><a href="#">         Blog</a></li> -->
		</ul>
  </div>  
</nav>