// bg #151b1f link #a7b1c7 p #e0e0e0
$bg_color:     #F5F5F5;
$link_color:   #1a2130;
$p_color:      black;
$border-color: #173e43;
$font_fam:      "Source Serif Pro", sans-serif;

/* typography */
html, body {
  margin: 0;
  height: 100%;
  font: 400 15px/1.8 $font_fam;
  color: $p_color;
  background: $bg-color;

  form {
    display: flex;
  }


  h1 {
    text-align: center;
    text-indent: 0;
  }

  a {
    &:link {
      color: $link_color;
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $link_color;
    }
  }

  ul {
    list-style: none inside;
    padding: 0;
  }
}

.fa {
  text-indent: 0;
}

.pane {
  margin: 0 5%;
  padding-bottom: 1rem;
  text-align: center;
}

.white-border-box {
  display: inline-block;
  text-indent: 0;
  border-color: $border-color;
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  &.textlet {
    margin: 0 90px 0 90px;
  }
  &.contactf {
    width: 80%;
  }
}

.post {
  margin: 5px;
  border: 7px solid $bg_color;
  background: $bg_color;
  .field {
    margin: 0 auto;
    float: left;
    text-align: center;
    outline: none;
  }
}

.section-title {
  margin-top: 40px;
}

textarea {
  font-family: $font_fam;
  min-height: 70px;
}
::-webkit-input-placeholder {
  font-family: $font_fam;
}
:-moz-placeholder {
  font-family: $font_fam;
}
::-moz-placeholder {
  font-family: $font_fam;
}
:-ms-input-placeholder {
  font-family: $font_fam;
} 

.column-tray {
  -webkit-columns: 2 400px;
     -moz-columns: 2 400px;
          columns: 2 400px;
}
.column-limiter {
  -webkit-column-span: all; 
          column-span: all;
}


// title/sample page
.title-img {
  // position: relative;
  background: url(/assets/images/Oxford.jpg);
  // background: #4e4e4e; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
}
.title-text {
  position: absolute;
  float: right;
  top: 35%;
  right: 5%;
  text-align: center;
  font-size: calc(1rem + 1vw);
  font-weight: 600;
  letter-spacing: 10px;
  font-family: "Lato", sans;
  color: #37474F;
  background-color: white;
  padding: 18px;
  & a {
    color: black;
  }
}
.sample {
  background:
    linear-gradient(rgba(250, 229, 150, 0.4), rgba(250, 229, 150, 0.4)),
    url(/assets/images/Oxford.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  min-height: 90%;
  border-top-style: solid;
  border-color: $border-color;
  border-top-width: 15px;
  h1 {
    font-size: calc(1rem + 1vw);
    font-weight: 600;
    letter-spacing: 10px;
  }
  .pane {
    margin-top: 50px;
    padding: 30px 0 10rem 0;
  }
  .flex {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
  .circle {
    border-color: whitesmoke;
    border-style: solid;
    margin-top: 30px;
    border-width: 2px;
    border-radius: 50%;
    font-size: 0;
    width: calc(20% + 80px);
  }
  .circle-img {
    border-radius: 50%;
    width: 100%;
    height: auto;
  }
}

.main-container {
  padding-bottom: 3rem;
  text-align: center;
}


// About/Contact Page
.about{
  // background: url(/assets/images/Mandarins.jpg);
  // background-size: cover;
  // background-attachment: fixed;
  // padding-top: 110px;
  // padding-bottom: 40px;
  // .pane {
  //   background: linear-gradient(rgba(88, 75, 29, 0.8), rgba(94, 78, 27, 0.8));
  //   height: calc(100% - 100px);
  // }
  .header-indent {
    text-indent: 25px;
  }
  .column-tray {
    -webkit-column-rule: 3px dotted $border-color;
       -moz-column-rule: 3px dotted $border-color;
            column-rule: 3px dotted $border-color;
  }
  p {
    max-width: 400px;
    text-indent: 0;
    display: inline-block;
  }
  .contactform {
    display: flex;
    flex-direction: column;
  }
}


// Alternate about page with mountain bckgrnd
.about {
  background:
    linear-gradient(rgba(162, 177, 190, 0.60), rgba(162, 177, 190, 0.60)),
    url(/assets/images/Seoraksan_Korea.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 80%;
  padding-top: 110px;
  padding-bottom: 40px;
  border-top-width: 30px;
  .pane {
    background: linear-gradient(rgba(190, 190, 190, 0.7), rgba(190, 190, 190, 0.7));
    margin-top: 50px;
    padding: 30px 0 40px;
  }
}

// Resume/PDFviewer
.pdfview {
  height: 99.5%;
  width: 100%;
}

// Portfolio Page
.portfolio {
  background: #173e43;
    // url(/assets/images/Hoi_An_Vietnam.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100% - 160px);
  padding-top: 100px;
  padding-bottom: 3rem;
  color: $bg-color;
  text-align: center;
  
  p {
    margin-bottom: 0;
  }
  .portf-img {
    max-width: 60%;
    overflow: auto;
    -webkit-box-shadow: 5px 8px 8px -1px #666;
       -moz-box-shadow: 5px 8px 8px -1px #666;
            box-shadow: 5px 8px 8px -1px #666;
  }
}

//Index Expanded Footer
.main-footer {
  background-color: $bg-color;
  padding: 30px 30px 50px 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  h3 {
    color: #326780;
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .footer-child {
    flex-grow: 1;
    padding-left: 5%;
    min-width: 100px;
  }
  @media (min-width: 600px) {
    .footer-vert {
      padding: 0 1px;
      background: #326780;
    }
  }
}

//Every-page Footer
.footer {
  position: relative;
  font-size: 10px;
  color: $p_color;
  text-align: left;
  padding: 25px;
  border-top: solid 5px #326780;
  background: 
    linear-gradient(rgba(63, 176, 172, 0.8), rgba(63, 176, 172, 0.8)),
    url(/assets/images/nav-gradient.jpg);
  background-position: right;
}