/* color variables */
// bg #151b1f link #a7b1c7 p #e0e0e0
// 6.2019 nav 428e92 bg 006064 borders 00363a

$light-cyan :   #428e92;
$cyan:          #006064;
$dark-cyan:     #00363a;


$bg-color:      #F5F5F5;
$dark-bg-color: $cyan;
/* border-color was #156671 */
$border-color:  $dark-cyan;

// text variables
$font-fam:      "Source Serif Pro", sans-serif;
$link-color:    #1a2130;
$p-color:       #000;

// nav variables
/* nav-color was #418E99 */
$nav-color: #428e92cc;
$nav-text-color: $p-color;
$nav-font: "Source Serif Pro", Helvetica, serif;

/* typography */
html, body {
  margin: 0;
  height: 100%;
  font: 400 15px/1.8 $font-fam;
  color: $p-color;
  background: $bg-color;

  form {
    display: flex;
  }

  summary {
    border: $border-color dashed 3px;
    display: block;
    margin: 0 20% 0 20%;
  }

  summary::-webkit-details-marker {
    color: transparent;
  }

  h1 {
    text-align: center;
    text-indent: 0;
  }

  a {
    &:link {
      color: $link-color;
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $link-color;
    }
  }

  ul {
    list-style: none inside;
    padding: 0;
  }
}

.fa {
  text-indent: 0;
}

.pane {
  margin: 0 5%;
  padding-bottom: 1rem;
  text-align: center;
}

.white-border-box {
  display: inline-block;
  text-indent: 0;
  border-color: $border-color;
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  &.textlet {
    margin: 0 90px 0 90px;
  }
  &.contactf {
    width: 80%;
  }
}

.post {
  margin: 5px;
  border: 7px solid $bg-color;
  background: $bg-color;
  .field {
    margin: 0 auto;
    float: left;
    text-align: center;
    outline: none;
  }
}

.section-title {
  margin-top: 40px;
}

textarea {
  font-family: $font-fam;
  min-height: 70px;
}
::-webkit-input-placeholder {
  font-family: $font-fam;
}
:-moz-placeholder {
  font-family: $font-fam;
}
::-moz-placeholder {
  font-family: $font-fam;
}
:-ms-input-placeholder {
  font-family: $font-fam;
} 

.column-tray {
  -webkit-columns: 2 400px;
     -moz-columns: 2 400px;
          columns: 2 400px;
}
.column-limiter {
  -webkit-column-span: all; 
          column-span: all;
}


// index title/sample
.title-img {
  // position: relative;
  background: url(/assets/images/Oxford.jpg);
  // background: #4e4e4e; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
}
.title-text {
  position: absolute;
  float: right;
  top: 35%;
  right: 5%;
  text-align: center;
  font-size: calc(1rem + 1vw);
  font-weight: 600;
  letter-spacing: 10px;
  font-family: "Lato", sans;
  color: #37474F;
  background-color: white;
  padding: 18px;
  & a {
    color: black;
  }
}
.sample {
  background:
    linear-gradient(#ffcc8066, #ffcc8066),
    url(/assets/images/Oxford.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  min-height: 90%;
  border-top-style: solid;
  border-color: $border-color;
  border-top-width: 15px;
  h1 {
    font-size: calc(1rem + 1vw);
    font-weight: 600;
    letter-spacing: 10px;
  }
  .pane {
    margin-top: 50px;
    padding: 30px 0 10rem 0;
  }
  .flex {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
  .circle {
    border-color: whitesmoke;
    border-style: solid;
    margin-top: 30px;
    border-width: 2px;
    border-radius: 50%;
    font-size: 0;
    width: calc(20% + 80px);
  }
  .circle-img {
    border-radius: 50%;
    width: 100%;
    height: auto;
  }
}

.main-container {
  padding-bottom: 3rem;
  text-align: center;
}


// About/Contact Page
.about{
  // background: url(/assets/images/Mandarins.jpg);
  // background-size: cover;
  // background-attachment: fixed;
  // padding-top: 110px;
  // padding-bottom: 40px;
  // .pane {
  //   background: linear-gradient(rgba(88, 75, 29, 0.8), rgba(94, 78, 27, 0.8));
  //   height: calc(100% - 100px);
  // }
  background:
    linear-gradient(#a2b1be66, #a2b1be66),
    url(/assets/images/BenjiandAbram.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 80%;
  padding-top: 110px;
  padding-bottom: 40px;
  border-top-width: 30px;
  .pane {
    background: linear-gradient(#bebebeb3, #bebebeb3);
    margin-top: 50px;
    padding: 30px 0 40px;
  }
  .header-indent {
    text-indent: 25px;
  }
  .column-tray {
    -webkit-column-rule: 3px dotted $border-color;
       -moz-column-rule: 3px dotted $border-color;
            column-rule: 3px dotted $border-color;
  }
  p {
    max-width: 400px;
    text-indent: 0;
    display: inline-block;
  }
  .contactform {
    display: flex;
    flex-direction: column;
  }
}

// Resume/PDFviewer
.pdfview {
  height: 99.5%;
  width: 100%;
}

// Portfolio Page
.portfolio {
  background: $dark-bg-color;
  padding-top: 100px;
  padding-bottom: 3rem;
  color: $bg-color;
  text-align: center;
  
  p {
    margin-bottom: 0;
  }
  // .portf-item {
  //   margin: 0 10% 0 10%;
  //   -moz-column-count:    3;
  //   -webkit-column-count: 3;
  //   column-count:         3;
  // }
  // .portf-item img {
  //   /* Just in case there are inline attributes */
  //   width: 100% !important;
  //   height: auto !important;
  //   line-height: 0;
  // }
  // .portf-item a {
  //   /* Just in case there are inline attributes */
  //   width: 100% !important;
  //   height: auto !important;
  //   line-height: 0;
  // }

  .portf-img {
    max-width: 60%;
    overflow: auto;
    -webkit-box-shadow: 2px 3px 5px 0px $border-color;
       -moz-box-shadow: 2px 3px 5px 0px $border-color;
            box-shadow: 2px 3px 5px 0px $border-color;
  }
}

//Index Expanded Footer
.main-footer {
  background-color: $bg-color;
  padding: 30px 30px 50px 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  h3 {
    color: $border-color;
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .footer-child {
    flex-grow: 1;
    padding-left: 5%;
    min-width: 100px;
  }
  @media (min-width: 600px) {
    .footer-vert {
      padding: 0 1px;
      background: $border-color;
    }
  }
}

//Every-page Footer
.footer {
  position: relative;
  font-size: 10px;
  color: #fff;
  text-align: left;
  padding: 10px 25px;
  border-top: solid 5px $nav-color;
  
  /* was #3fb0accc */
  background:
    linear-gradient($border-color, $border-color),
    url(/assets/images/nav-gradient.jpg);
  background-position: right;
}