/* color variables */
// bg #151b1f link #a7b1c7 p #e0e0e0
// 6.2019 nav 428e92 bg 006064 borders 00363a


/* the best color scheme ever
$light-cyan :   #3CBCC3;
$light-green:   #438945;
$light-yellow:  #EBA63F;
$light-red:     #E40C2B;
$cyan:          #1C595C;
*/

$light-green:   #264E36;
$light-cyan:    #2A4B7C;
$light-yellow:  #F96714;
$light-red:     #9B1B30;
$cyan:          #77212E;

// $dark-bg-blue:  #1D1D2C;
// $bg-color:      #F5D6C6;
//oxford:
$dark-bg-blue: #002147;
$bg-color: white;
/* border-color was #156671 at one time */
$border-color:  $dark-bg-blue;

// text variables
$font-fam:      "Zilla Slab", sans-serif;
$link-color:      $dark-bg-blue;
$link-dark-color: $cyan;
$p-color:         #fff;
$p-dark-color:    $cyan;

// nav variables
/* nav-color was #418E99 at one time */
$nav-color: #fff;
$nav-text-color: $dark-bg-blue;
$nav-link-color: $nav-text-color;
$nav-logo-color: $light-yellow;
$nav-font: "Zilla Slab", Helvetica, serif;

/* typography */
html, body {
  margin: 0;
  height: 100%;
  font: 400 15px/1.8 $font-fam;
  color: $p-color;
  background: $bg-color;

  form {
    display: flex;
  }

  summary {
    border: $border-color dashed 3px;
    display: block;
    margin: 0 20% 0 20%;
  }

  summary::-webkit-details-marker {
    color: transparent;
  }

  h1 {
    text-align: center;
    text-indent: 0;
  }

  a {
    &:link {
      color: $link-color;
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $link-color;
    }
  }

  ul {
    list-style: none inside;
    padding: 0;
  }
}

.wrapper {
  max-width: 95%;
  width: 1280px;
  margin: 0 auto;
}

.fa {
  text-indent: 0;
}

.pane {
  margin: 0 5%;
  padding-bottom: 1rem;
  text-align: center;
}

.white-border-box {
  display: inline-block;
  text-indent: 0;
  border-color: $border-color;
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  &.textlet {
    margin: 0 10%;
  }
  &.contactf {
    width: 80%;
  }
}

.post {
  margin: 5px;
  border: 7px solid white;
  background: white;
  .field {
    margin: 0 auto;
    float: left;
    text-align: center;
    outline: none;
  }
}

.section-title {
  margin-top: 40px;
}

textarea {
  font-family: $font-fam;
  min-height: 70px;
}
::-webkit-input-placeholder {
  font-family: $font-fam;
}
:-moz-placeholder {
  font-family: $font-fam;
}
::-moz-placeholder {
  font-family: $font-fam;
}
:-ms-input-placeholder {
  font-family: $font-fam;
} 

.column-tray {
  -webkit-columns: 2 400px;
     -moz-columns: 2 400px;
          columns: 2 400px;
}
.column-limiter {
  -webkit-column-span: all; 
          column-span: all;
}


// index title/sample
.title-bg {
  position: relative;
  min-height: 100%;
  .parallax {
    clip: rect(0,auto,auto,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    .inside-parallax {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(0);
      will-change: transform;
      z-index: 1;
      background: url(/assets/images/pixld1.png);
      // background: $bg-color;
      background-size: cover;
      background-position: center 15%;
      background-repeat: no-repeat;
    }
  }
}
.title-text {
  position: fixed;
  z-index: 2;
  bottom: 10%;
  left: 80%;
  min-width: 200px;
  transform: translate(-80%, 10%);
  text-align: center;
  font-size: calc(1rem + 1vw);
  font-weight: 600;
  letter-spacing: 10px;
  font-family: "Lato", "Arial", sans;
  color: $nav-text-color;
  background-color: #fff;
  padding: 8px;
  border-radius: 0 35px 35px 35px;
}
a.title-text:visited, a.title-text:hover, a.title-text:link {
  color: $nav-text-color;
  text-decoration: none;
}
.sample {
  z-index: 2;
  position: relative;
  width: 100%;
  min-height: 90%;
  border-top-style: solid;
  border-color: $border-color;
  border-top-width: 15px;
  .parallax {
    clip: rect(0,auto,auto,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    .inside-parallax{
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(0);
      will-change: transform;
      z-index: 1;
      background:
        linear-gradient(#FFFFFF88 65%, #00214788),
        url(/assets/images/unpixd.jpg);
      background-size: cover;
      background-position: center 15%;
      background-repeat: no-repeat;
    }
  }
  h1 {
    color: $border-color;
    font-size: calc(1rem + 1vw);
    font-weight: 600;
    letter-spacing: 10px;
  }
  .pane {
    position: relative;
    z-index: 1;
    margin-top: 50px;
    padding: 30px 0 10rem 0;
  }
  .flex {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
  .circle {
    border-color: $p-color;
    box-shadow: none;
    border-style: solid;
    margin-top: 30px;
    border-width: 4px;
    border-radius: 50%;
    font-size: 0;
    width: calc(20% + 80px);
    transition: ease all .3s;
    &:hover {
      box-shadow: 5px 0px 10px 0px #002147;
      transform: perspective(1500px) rotateY(-10deg);
    }
  }
  .circle-img {
    border-radius: 50%;
    width: 100%;
    height: auto;
  }
}

.main-container {
  padding-bottom: 3rem;
  text-align: center;
}


// About/Contact Page
.about{
  // background: url(/assets/images/Mandarins.jpg);
  // background-size: cover;
  // background-attachment: fixed;
  // padding-top: 110px;
  // padding-bottom: 40px;
  // .pane {
  //   background: linear-gradient(rgba(88, 75, 29, 0.8), rgba(94, 78, 27, 0.8));
  //   height: calc(100% - 100px);
  // }
  background:
    linear-gradient(#f7f4e911, #F7F4E911),
    url(/assets/images/BenjiandAbram.jpg)
    left center / cover
    no-repeat;
  background-attachment: fixed;
  width: 100%;
  // height: calc(100% - 43px);
  min-height: calc(100% - 43px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-width: 30px;
  .progeny-tag {
    display: none;
    position: absolute;
    top: 18%;
    left: 630px;
    transform: translate(35%, -20%);
    border: solid 1px #fff;
    border-radius: 45px 45px 45px 0;
    padding: 10px;
    background-color: #002247;
  }
  @media (max-width:1420px) and (min-width:1100px) {.progeny-tag {display: block;}}
  .pane {
    background: linear-gradient(#f7f4e94f, #f7f4e9b3);
    margin: calc(380px - 10%) auto 100px;
    padding: 20px 0px 60px;
    max-width: 90%;
    width: 1050px;
  }
  .header-indent {
    display: flex;
    justify-content: center;
    color: $p-dark-color;
    span {
      margin: 0 15px;
      width: 103px;
      text-align: right;
    }
  }
  .column-tray {
    -webkit-column-rule: 3px dotted $border-color;
       -moz-column-rule: 3px dotted $border-color;
            column-rule: 3px dotted $border-color;
  }
  p {
    color: $p-dark-color;
    width: 400px;
    max-width: 90%;
    text-indent: 0;
    display: inline-block;
  }
  .contactform {
    display: flex;
    flex-direction: column;
  }
  strong {
    color: $p-dark-color;
  }
}

// Resume/PDFviewer
.pdfview {
  height: 99.5%;
  width: 100%;
}

// Portfolio Page
.portfolio {
  background: $dark-bg-blue;
  padding-top: 100px;
  padding-bottom: 3rem;
  color: $p-color;
  h1 {
    text-align: center;
  }
	a {
    color: $p-color !important;
    &:hover {
      text-decoration: none;
    }
  }
  .project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .project {
    margin: 2rem 0.5rem;
    padding: 2rem 4rem 1rem;
    height: 300px;
    width: 250px;
    transition: ease all 0.7s;
    &:hover {
      transition: ease all .2s;
      h2, h6, p, .split {
        display: none;
      }
    }
    .project-name {
      letter-spacing: 5px;
    }
    .split {
      margin: 20px 0;
      border-bottom: solid 1.5px;
      max-width: 50px;
    }
    h6 {
      letter-spacing: 3px;
    }
  }

  //systema
  .p1 {
    background: $light-cyan;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    &:hover {
      background: url("/assets/images/portfolio/systema-dev.png");
      background-size: cover;
    }
  }

  //squashable
  .p2 {
    background: $light-yellow;
    border-radius: 42% 58% 29% 71% / 69% 70% 30% 31%;
    &:hover {
      background: url("/assets/images/portfolio/Squash-Ranker.jpg");
      background-size: cover;
	  }
  }

  //slice
  .p3 {
    background: $light-green;
    border-radius: 35% 65% 30% 70% / 40% 60% 40% 60%;
    &:hover {
      background: url("/assets/images/portfolio/slice.png");
      background-size: cover;
	  }
  }

  
  //popup blocks
  .p11 {
    background: $light-red;
    border-radius: 42% 58% 29% 71% / 69% 70% 30% 31%;
    &:hover {
      background: url("/assets/images/portfolio/Pop-up\ Blocks.png");
      background-size: cover;
    }
  }

  //steel house
  .p4 {
    background: $light-cyan;
    border-radius: 10% 90% 71% 29% / 12% 83% 17% 88%;
    &:hover {
      background: url("/assets/images/portfolio/studio.png");
      background-size: cover;
	  }
  }

  //gwangju
  .p5 {
    background: $light-yellow;
    border-radius: 70% 30% 30% 70% / 40% 60% 40% 60%;
    &:hover {
      background: url("/assets/images/portfolio/gwangju.png");
      background-size: cover;
	  }
  }

  //auth
  .p6 {
    background: $light-green;
    border-radius: 78% 22% 65% 35% / 25% 20% 80% 75%;
    &:hover {
      background: url("/assets/images/portfolio/Rails\ Sample\ App\ 2.jpg");
      background-size: cover;
	  }
  }

  //myeongye & snake.dev
  .p7 {
    background: $light-red;
    border-radius: 78% 22% 65% 35% / 25% 20% 80% 75%;
  }
  .snake:hover {
    background: url("/assets/images/portfolio/snakedev1.png");
    background-size: cover;
  }
  .myeongye:hover {
    background: url("/assets/images/portfolio/Honorary-Citizenship.jpg");
    background-size: cover;
  }

  //seoulite
  .p8 {
    background: $light-cyan;
    border-radius: 35% 65% 30% 70% / 40% 60% 40% 60%;
    &:hover {
      background: url("/assets/images/portfolio/Munhwa.jpg");
      background-size: cover;
	  }
  }

  //mobeum
  .p9 {
    background: $light-yellow;
    border-radius: 42% 58% 29% 71% / 69% 70% 30% 31%;
    &:hover {
      background: url("/assets/images/portfolio/Mobeum-Weigukin.jpg");
      background-size: cover;
	  }
  }

  //AJAX & developer
  .p10 {
    background-color: $light-green;
    border-radius: 10% 90% 71% 29% / 12% 83% 17% 88%;
  }
  .ajax:hover {
    background: url("/assets/images/portfolio/AJAX.png");
    background-size: cover;
  }
  .developer:hover {
    background: url("/assets/images/portfolio/Boat-Race.jpg");
    background-size: cover;
  }

  // p {
  //   margin-bottom: 0;
  // }
}  

//Index Expanded Footer
.footer-white-bg { background-color: #fff; width: 100%; z-index: 2;}
.main-footer {
  z-index: 2;
  margin: 0 auto;
  padding: 30px 0 50px;
  width: 1280px;
  max-width: 100%;
  background-color: $bg-color;
  // padding: 30px 30px 50px 30px;
  position: relative;
  text-align: left;
  .cont {
    height: 100%;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "b c p l" "b c p l" "b c p l" "b c p l";
  }
  @media (max-width: 800px) {
    .cont {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "b c" "b c" "b c" "b c" "p l" "p l" "p l" "p l";
    }
    .footer-child.c {
      border-right: none;
      &:after {
        content: '';
        display: block;
        width: 70%;
        border-bottom: solid 2px $border-color;
      }
    }
    .footer-child.b:after { 
      content: '';
      display: block;
      width: 70%;
      border-bottom: solid 2px $border-color; 
    }

  }
  .b { grid-area: b; }
  .p { grid-area: p; }
  .c { grid-area: c; }
  .l { grid-area: l; }
  h3 {
    color: $border-color;
    font-size: 14px;
    width: 123px;
  }
  p {
    font-size: 12px;
    width: 123px;
  }
  .block {
    display: flex;
    // flex-wrap: nowrap;
    min-width: 200px;
  }
  .footer-child {
    // flex-grow: 1;
    // padding-left: 5%;
    padding: 0 10%;
    height: 100%;
    min-width: 100px;
    border-right: solid 2px $border-color;
    &:last-of-type {
      border-right: none;
    }
    p {
      color: $p-dark-color;
    }
    a:link, a:visited, a:hover {
      color: $link-dark-color;
    }
  }
  .footer-vert {
    width: 2px;
    margin: -1px;
    height: 100%;
    background-color: $border-color;
  }

}

//Every-page Footer
.footer {
  position: relative;
  z-index: 99;
  font-size: 10px;
  color: $bg-color;
  text-align: left;
  padding: 10px 25px;
  border-top: solid 5px $light-yellow;
  
  /* was #3fb0accc */
  background:
    linear-gradient($border-color, $border-color),
    url(/assets/images/nav-gradient.jpg);
  background-position: right;
}
