$nav_color: #3fb0ac;
$nav_text_color: black;
$nav_font: "Source Serif Pro", Helvetica, serif;

/* header */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  font-family: $nav_font;
  font-weight: 600;
  color: $nav_text_color;
  background: 
    linear-gradient(rgba(63, 176, 172, 0.8), rgba(63, 176, 172, 0.8)),
    url(/assets/images/nav-gradient.jpg);
  background-position: right;
  z-index: 1;
  border-bottom: solid 3px hsla(178, 47%, 47%, 0.3);
  // border-radius: 0% 0% 50% 50% / 0% 0% 50% 50%;
}
.navbar-site-emblem {
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  a:link a:visited {
    color: $nav_text_color;
  }
}

/* tablet and screen head and content */ 
@media (min-width: 800px) {
  .dropdown {
    display: none;
  }
  
  .navbar-site-emblem {
  float: left;
  font-size: 30px;
  padding: 20px 2rem;
  }

  .big-nav {
    float: right;
    display: flex;
    margin-top: 35px;
  }

  .nav-links {
    padding-right: 40px;
  }
}

/* device header drop-down menu */
@media (max-width: 800px) {
  .nav-links {
    display: none;
  }

  .navbar-site-emblem {
    float: left;
    font-size: 25px;
    padding: 25px 1rem;
  }
  .dropdown {
    float: right;
    background-color: none;
    border-radius: 10px;
    font-size: 25px;
    padding: 26px;
  }
  .dropdown:hover .dropdown-nav {
    color: white;
    padding-bottom: 10px;
  }
  .dropdown:hover .dropdown-items {
    display: inline-block;
  }
  .dropdown-items {
    display: none;
    margin-top: 12px;
    right: 0;
    font-size: 1.1rem;
    background: 
    linear-gradient(rgba(63, 176, 172, 0.8), rgba(63, 176, 172, 0.8)),
      url(/assets/images/nav-gradient.jpg);
    background-position: right;
    position: absolute;
    z-index: 1;
  }
  .drop-btn {
    right: 10;
    padding: 5px;
  }
}