/* header */
.navbar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  font-family: $nav-font;
  font-weight: 600;
  color: $nav-text-color;
  background: $nav-color;
    // linear-gradient($nav-color, $nav-color),
    // url("https://images.unsplash.com/photo-1557128928-66e3009291b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: cover;
  z-index: 99;
  border-bottom: solid 1px $nav-text-color;
  // border-bottom: solid 3px hsl(178, 47%, 47%);
  // box-shadow: 0px 3px 5px 0px $border-color;
}

.navbar-site-emblem {
  margin-right: auto;
  font-family: Arial, sans-serif;
  a:link a:visited {
    color: $nav-link-color;
  }
  .fa.fa-behance-square.fa-lg { color: $nav-logo-color; }
}

/* tablet and screen head and content */ 
@media (min-width: 800px) {
  // .navbar { border-radius: 0% 0% 5% 5% / 0% 0% 35% 35%; }
  .dropdown {
    display: none;
  }
  
  .navbar-site-emblem {
  float: left;
  font-size: 25px;
  padding: 15px 2rem;
  }

  .big-nav {
    float: right;
    display: flex;
    margin-top: 25px;
  }

  .nav-links {
    padding-right: 40px;
  }
}

/* device header drop-down menu */
@media (max-width: 800px) {
  .nav-links {
    display: none;
  }

  .navbar-site-emblem {
    float: left;
    font-size: 20px;
    padding: 22px 1rem;
  }
  .dropdown {
    float: right;
    background-color: none;
    border-radius: 10px;
    font-size: 25px;
    padding: 25px 25px;
    .dropdown-btn {
      position: relative;
      height: 30px;
      width:  30px;
      span {
        position: absolute;
        height: 2px;
        width: 30px;
        background-color: $nav-text-color;
        transition: ease all .2s;
        &:first-of-type { top: 20%; }
        &:nth-child(2)  { top: 50%; }
        &:last-of-type  { top: 80%; }
      }
    }
  }
  .invisicheck:checked + .dropdown-btn {
    span {
      top: 50%;
      height: 4px;
      transition: ease all .5s;
      &:first-of-type { transform: rotate(45deg); }
      &:nth-child(2)  { transform: rotate(-135deg); }
      &:last-of-type  { transform: rotate(-45deg); }
    }
  }
  .dropdown-nav {
    color: $nav-text-color;
    position: absolute;
    top: 63px;
    max-height: 0;
    overflow: hidden;
    transition: ease all .5s;
    transform-origin: center top;
    right: 0;
    font-size: 1.1rem;
    background: 
      linear-gradient($nav-color, $nav-color),
      url("https://images.unsplash.com/photo-1557128928-66e3009291b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    z-index: 1;
    border-radius: 0% 0% 0% 25% / 0% 0% 0% 10%;
    border-bottom: solid 1px $nav-text-color;
    border-left: solid 1px $nav-text-color;
  }
  .invisicheck:checked + .dropdown-btn + .dropdown-nav {
    max-height: 500px;
    transition: ease all .3s;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .drop-btn {
    // right: 10;
    padding: 10px 20px;
  }
}