$nav_color: rgba(20, 26, 30, 0.65);
$nav_text_color: white;
$nav_font: "Lato", "Helvetica", sans-serif;

/* header */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  font-family: $nav_font;
  color: $nav_text_color;
  background: $nav_color;
  z-index: 1;
}
.navbar-site-emblem {
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  a:link a:visited {
    color: $nav_text_color;
  }
}

/* tablet and screen head and content */ 
@media (min-width: 800px) {
  .dropdown {
    display: none;
  }
  
  .navbar-site-emblem {
  float: left;
  font-size: 30px;
  padding: 20px 2rem;
  }

  .big-nav {
    display: flex;
    margin-top: 35px;
    justify-content: center;
  }

  .nav-links {
    padding: 0 30px;
  }
}

/* device header drop-down menu */
@media (max-width: 800px) {
  .nav-links {
    display: none;
  }

  .navbar-site-emblem {
    float: right;
    font-size: 25px;
    padding: 25px 1rem;
  }
  .dropdown {
    float: left;
    background-color: none;
    border-radius: 10px;
    font-size: 25px;
    padding: 26px;
  }
  .dropdown:hover .dropdown-nav {
    color: white;
    padding-bottom: 10px;
  }
  .dropdown:hover .dropdown-items {
    display: inline-block;
  }
  .dropdown-items {
    display: none;
    margin-top: 27px;
    left: 0;
    font-size: 1.1rem;
    background: $nav_color;
    position: absolute;
    z-index: 1;
  }
  .drop-btn {
    right: 10;
    padding: 5px;
  }
}