---
layout: base
seo:
  type: BlogPosting
---
<div class="blog-post">
  <article class="article">
    <div class='blog-info'>
      <div class='datetime'>{{ page.date | date: "%D" }}</div>
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
      <div class="cat" href="{{site.baseurl}}blog/categories/#{{category|slugize}}">{{category}}</div>
      {% endfor %}
      <!-- {% if page.author %}
        <div class='auth'>By {{ page.author }}</div>
        {% endif %} -->
    </div>
    <h1 class='title'>{{ page.title }}</h1>
    <section class='content'>
      {{ content }}
      <hr>

      <div class='bio'>
        <h2>About the Author:</h2>
        <p><a href='{% link contact.html %}'>Benji</a> is a professional web dude. He works at <a href='https://builtbytophat.com' target='_blank' rel='noopener noreferrer'>Top Hat</a> making cool web things for money (and sometimes beer).</p>
      </div>
      <div class='disclaimer'>
        <strong>Disclaimer!</strong>
        Photos on this blog are sometimes taken by me, but sometimes free for use with attribution from <a href='https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText' target='_blank' rel='noopener noreferrer'>Unsplash.com</a>.
      </div>
    </section>
  </article>
  <div class='outer-hero'>
    <div class='hero' style="background-image: url({{ site.baseurl }}/assets/images/{{ page.hero }})"></div>
  </div>
</div>